@font-face {
    font-family: 'Body';
    src: url("../fonts/400.woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Heading';
    src: url('../fonts/700.woff');
    font-style: normal;
}

/*** Globals ***/
body {
  position: relative;
	overflow-x: hidden;
  font-size: 21px;
  font-family: 'Body';
  text-align: justify;
  line-height: 34.65px;
  color: rgb(35, 31, 32);
}

h1 {
  font-family: 'Heading';
  line-height: 1.5em;
}

a, a:focus, a:visited {
  color: #EE6650;
}

a:hover {
  text-decoration: underline;
  color: #EE6650;
}

.accent {
  color: #8DDDA5;
}

p {
  margin: auto auto 1.5em;
}

ul {
  list-style-type: none;
  padding-left: 15px;
}

.form-control:focus {
  border-color: #EE6A55;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(238,103,82,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(238,103,82,.6);
}

textarea {
  overflow-x: none;
}

input[type="submit"]:hover {
  background: #EE6751;
  color: #fff;
}
input[type="submit"] {
  border: solid 2px #EE6751;
  background: rgba(255,255,255, 1);
  color: #EE6751;
  width: 100%;
}

/*** Navigation ***/
.navbar>.container-fluid .navbar-brand {
    margin-left: 15px;
}

.navbar-nav a {
  color: #fff;
  text-transform: uppercase;
}

.navbar-nav a:hover {
  color: #EE6650;
}

.navbar-nav>.active>a {
  color: #EE6650;
}

.nav>li>a:focus, .nav>li>a:hover {
  background-color: #000;
}

.navbar-right {
    padding: 15px;
    margin-top: 58px;
    background-color: #000;
    color: #fff;
    font-family: Helvetica;
}

/*** Layout ***/
#empty {
  height: 65vh;
}

/*** Logo ***/
.navbar-brand {
  width: 150px;
  height: 150px;
  background-image: url('../img/logo-badge.png');
  background-size: 150px 150px;
  margin: 15px;
}
a.navbar-brand.black {
  width: 150px;
  height: 150px;
  background-image: url('../img/logo-badge-black.png');
  background-size: 150px 150px;
  margin: 15px;
}
/*img.logo {
	height: 100px;
	width: auto;
	padding: 0;
}*/

/*** Content ***/
#scroll {
  background: url('../../assets/img/scroll.png') no-repeat 50% 100%;
  background-size: 100%;
  height: 150px;
  margin-top: calc(100vh - 145px);
}

section.content {
  background-color: rgba(255, 255, 255, 1);
  margin: 0 auto;
  padding: 60px 15px;
}

.contact-details li {
  margin-bottom: 15px;
}

.contact-details a {
  color: rgb(35, 31, 32);
}
.contact-details a:hover, .contact-details a:focus, .contact-details, .contact-details {
  color: #EE6650;
}

.contact-details span {
  margin-right: 15px;
}

.address {
  display: inline-table;
}
/*** Footer ***/
footer {
  background-color: #000;
}

footer nav ul li {
  font-size: 14px;
  font-family: Helvetica;
  color: #fff;
  font-weight: 300;
  padding-bottom: 15px;
}

.social {
  padding: 30px 10px 10px;
}

footer ul {
  font-size: 32px;
}

footer ul li a span.icon {
  margin: 0;
  color: #fff;
  padding: 15px;
}

footer ul li a span.icon:hover {
  color: #EE6650;
}

footer ul li a:hover {
  text-decoration: none;
}

span.animated.pulse.infinite.icon.icon-heart {
  padding: 5px;
}

.right {
  float:left;
}
.left {
  float: left;
  padding-right: 45px;
}

@media (min-width: 768px) {
  .right {
    float: right;
  }
}
/*** Icons ***/
@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?zebl06');
  src:url('../fonts/icomoon.eot?zebl06#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?zebl06') format('truetype'),
    url('../fonts/icomoon.woff?zebl06') format('woff'),
    url('../fonts/icomoon.svg?zebl06#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e901";
}
.icon-envelop:before {
  content: "\e908";
}
.icon-location:before {
  content: "\e900";
}
.icon-google-plus:before {
  content: "\e902";
}
.icon-facebook:before {
  content: "\e903";
}
.icon-instagram:before {
  content: "\e904";
}
.icon-twitter:before {
  content: "\e905";
}
.icon-youtube3:before {
  content: "\e906";
}
.icon-heart:before {
  content: "\e907";
}

span.animated.pulse.infinite.icon.icon-heart {
    color: #EE6650;
    font-size: 18px;
}

/*
/* Media Queries
*/
@media (max-width: 767px) {
  #scroll {
    background: url('../../assets/img/scroll.png') no-repeat 50% 100%;
    background-size: 200%;
  }
  p {
    font-size: 16px;
  }
  h1 {
    font-size: 28px;
  }
  .contact-details, .form-group, .form-control {
    font-size: 12px;
    height: auto;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
  #scroll {
    background: url('../../assets/img/scroll.png') no-repeat 50% 100%;
    background-size: 150%;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }
